.home-container {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
}

.img-background {
    height: 470px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url('../../images/top-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fone {
    background-color: #3434447d;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fone > .title {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.fone > .text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 135.2%;
    text-align: center;
    color: #FFFFFF;
}

.section1-info {
    padding: 35px 106px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 167px;
    background: rgba(52, 52, 68, 0.81);
    color: #fff;
    box-sizing: border-box;
}

.section1-info > div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 22px;
}

.info-item__container {
    display: flex;
    justify-content: flex-start;
    margin-right: 90px;
}

.info-item__container:last-child {
    margin-right: 0;
}

.item-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 39px;
    border-radius: 50%;
    line-height: 23px;
    font-size: 20px;
    background: #B4945C;
    text-align: center;
    margin-right: 20px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.info-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.info-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.lear-more-button {
    padding: 8px 54px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    max-width: 195px;
}

.section4,
.section3,
.section2 {
    padding: 87px 60px 0;
    box-sizing: border-box;
}

.section4-body,
.section3-body,
.section2-body {
    border-top: 2px solid #b4945c54;
    padding: 72px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #343444;
    padding: 0 25px;
    position: absolute;
    top: -17px;
    background: #fff;
}

.section2-info {
    display: flex;
    justify-content: flex-start;
    max-width: 1032px;
}

.section2-img {
    width: 401px;
    height: 245px;
    margin-right: 23px;
}

.section2-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #343444;
    margin: 0 0 28px 0;
}

.section2-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: justify;
    color: #343444;
    margin: 0 0 14px 0;
}

.section2-text:last-child {
    margin-bottom: 0;
}

.section3-info {
    display: flex;
    justify-content: flex-start;
}

.section3-info__item {
    width: 402px;
    height: 172px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.section3-img-container {
    display: flex;
    align-items: center;
    position: relative;
}

.section3-bg-image {
    position: absolute;
}

.section3-item-image {
    position: absolute;
    left: 19px;
}

.section3-arrow-image {
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
}

.section3-item-info {
    margin-left: 106px;
    max-width: 272px;
}

.section3-item-title {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #343444;
}

.section3-item-text {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #343444;
}

.section4-info__item {
    width: 1032px;
    height: 208px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

.section4-info__item:last-child {
    margin-bottom: 0;
}

.section4-item-info {
    max-width: 696px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section4-item-img {
    width: 256px;
    height: 168px;
    border-radius: 12px;
    margin-right: 40px;
}

.section4-item-title {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #343444;
    margin: 0 0 12px;
}

.section4-item-text {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #343444;
    margin: 0 0 17px;
}

.section4-slider-container {
    display: none;
}

.section4-slider-container.active {
    display: block;
}

.section4-info-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 31px 0 49px;
}

.page-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-right: 12px;
    cursor: pointer;
}

.page-item:last-child {
    margin-right: 0;
}

.page-item.active {
    background-color: #343444;
}